   
    body {
  font-family: 'Do Hyeon', sans-serif;
  }


.art1st {

      position: relative;

}

.art2nd {

      position: absolute;
      display: none;
}

.art1st:hover .art2nd {
  display: block;

}