<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://example.com/page.html">
    <meta property="og:title" content="jajz 원데이 클래스">
    <meta property="og:image" content="http://image.kmib.co.kr/online_image/2020/0112/202001122059_11150924117531_2.jpg">
    <meta property="og:description" content="취미를 가져보아요, 배우고 싶었던 클래스를 단시간에, 다양한 클래스가 있답니다">
    <meta property="og:site_name" content="원데이클래스 <about us>">
    <meta property="og:locale" content="en_US">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="shortcut icon" href="../static/favi.png">

        <title>재즈 : 우리를 소개합니다!</title>
<!-- 파비콘 -->
    <link rel="shortcut icon" href="" type="image/vnd.microsoft.icon">
<link href="../tailwind.css" rel="stylesheet">
<link href="../static/tailwind.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">


    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>


    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="stylesheet" type="text/css" href="../static/move.css">
    <script src="../static/move.js"></script>


<!-- 폰트랑 아이콘 -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
          rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          rel="stylesheet"/>
          
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
<!-- 스타일 -->
<style>

body, html{
  height:100%;

}
.swiper-container,
.swiper-wrapper,
.swiper-slide{
  width: 100%;
  height: 100%;
}
 .swiper-slide {
   text-align: center;
   font-size: 18px;
  background: transparent;
   /* Center slide text vertically */
   display: flex;
   justify-content: center;
   align-items: center;
   
}


</style>
</head>


<body class="bg-blue-100 w-full overflow-x-hidden">

<header class="sticky top-0 z-50 bg-blue-500 shadow-sm" x-data="{ open: false }">
    <div class="container mx-auto px-4 py-2 flex items-center">

      <!-- 로고 -->
            <div class="flex cursor-pointer" onclick="home();">

             <img id="logo" class="object-contain h-10 mr-3" src="..\static\LOGO-001.png" />
      </div>
 <!-- 아이콘 기능 사이트 https://fontawesome.com/v4.7/icons/ -->
                        

<div class="flex">
      <button class="bg-blue-600 hover:bg-blue-300 font-bold uppercase px-4 xl:px-6 py-2 xl:py-3 rounded flex-shrink-1 flex items-center" x-on:click="open = ! open">
        <span class="text-xl text-gray-100"><i class="fa fa-arrow-circle-down mr-1" aria-hidden="true"></i> All class</span>
      </button>

       <button class="bg-blue-600 hover:bg-blue-300 font-bold uppercase px-4 xl:px-6 py-2 xl:py-3 rounded flex-shrink-1 flex items-center ml-2">
        <span class="text-xl text-gray-100" onclick="about();"><i class="fa fa-puzzle-piece mr-1" aria-hidden="true"></i>
        about us</span>
      </button>
</div>

    </div>

  </header>



<!-- Slider main container -->
<div class="swiper-container">
  <div class="swiper-wrapper">

  <div class="swiper-slide">
    <div class="w-full">
    <div class="flex h-screen container bg-gradient-to-tr	from-blue-200 to-blue-500 mb-20">
        <div class="flex flex-row items-center text-center justify-center lg:text-left px-8 md:px-12 lg:w-2/5">

            <div>
            
              <h1 class="text-2xl font-semibold text-gray-1000 md:text-4xl"> 🐧남극의펭귄들🐧 기획의도</h1>
                <br />
                <br />
                <div class="flex flex-row justify-center justify-between  gap-x-5">

                <div class="flex flex-col justify-items-center">
                  <p class="text-md text-gray-500 md:text-2xl">'원데이 재즈'는 하루만에 새로운 경험과 함께 결과물을 가질 수 있도록 다양한 원데이클래스를 이용자에게 연결해주는 플랫폼입니다. 이용자는 많은 검색을 통하지 않고도 재즈 플랫폼을 통해 쉽고 간편하게 다양한 클래스를 신청할 수 있게 됩니다. 그리고 강의 강사 또는 기관은 고객 유치가 불확실한 광고가 아닌 재즈 플랫폼을 이용함으로 인해 이용자 유치를 쉽게 할 수 있게 되어 서로가 서로를 쉽고 간편하게 찾을 수 있게 됩니다.</p>

                </div>
                </div>
            </div>
        </div>


        <div class="flex flex-row hidden lg:inline-block w-3/5">
            <div class="bg-no-repeat bg-cover object-fill object-center h-full" style="background-image: url(https://user-images.githubusercontent.com/81601217/145346592-21aa261c-5a77-4b35-bc9b-df9b9ea33a91.jpg)">
            </div>
        </div>
    </div>
</div>
    </div>

  <div class="swiper-slide">
    <div class="w-full">
    <div class="flex h-screen container bg-gradient-to-tr	from-blue-200 to-blue-500 mb-20">
        <div class="flex flex-row items-center text-center justify-center lg:text-left px-8 md:px-12 lg:w-2/5">

            <div>
            
              <h1 class="text-2xl font-semibold text-gray-1000 md:text-4xl"> 🐧남극의펭귄들🐧 소개</h1>
                <br />
                <br />
                <div class="flex flex-row justify-center justify-between  gap-x-5">

                <div class="flex flex-col justify-items-center">
                <h3 class="text-2xl font-semibold text-gray-750 md:text-4xl"> 프론트엔드</h3>
                                <br />
                <span class="text-2xl font-semibold text-gray-600 ml:text-4xl"> 🐧 팀장 이혜림</span>
                                <br />
                <span class="text-2xl font-semibold text-gray-600 ml:text-4xl"> 🐥 전혜진</span>
                </div>
<div class="flex flex-col justify-items-center">
              <span class="text-2xl font-semibold text-gray-750 md:text-4xl"> 백엔드</span>
                    <br />
                <span class="text-2xl font-semibold text-gray-600 ml:text-4xl"> 🐥 권지현</span>
                <br />
                <span class="text-2xl font-semibold text-gray-600 ml:text-4xl"> 🐥 한주영</span>
                </div>
                </div>
            </div>
        </div>

        <div class="flex flex-row hidden lg:inline-block w-3/5">
            <div class="bg-no-repeat bg-cover object-fill object-center h-full" style="background-image: url(https://user-images.githubusercontent.com/81601217/145346409-1f61ece2-55c9-403a-a706-553f6cf0364f.jpg)">
            </div>
        </div>
    </div>
</div>
    </div>

  <div class="swiper-slide">
    <div class="w-full">
    <div class="flex h-screen container bg-gradient-to-tr	from-blue-200 to-blue-500 mb-20">
        <div class="flex flex-col items-center text-center justify-center lg:text-left px-8 md:px-12 lg:w-2/5">

          <h1 class="text-2xl font-semibold text-gray-1000 md:text-4xl mr-5">🐧남극의펭귄들🐧 소개</h1>            

          <br/>                <p class="text-md text-gray-500 md:text-2xl">남극의 펭귄들 팀입니다! <br />처음 참여하는 분들이 많은 상황이었습니다. 그런데 팀장님께서 리드를 해주셔서 이렇게 완성까지 오게되었습니다. 팀장님께서 필수 기능 설명과 지도, 역할분담을 해주신 덕분입니다. 감사드려요.</p>



        </div>       
        <div class="flex flex-row hidden lg:inline-block w-3/5">
            <div class="bg-no-repeat bg-cover object-fill object-center h-full" style="background-image: url(https://user-images.githubusercontent.com/81601217/145345435-1a9e7353-37dd-414c-bd68-18d6b0ea3603.jpg)">
            </div>
        </div>
    </div>
</div>
    </div>

  <div class="swiper-slide">
    <div class="w-full">
    <div class="flex h-screen container bg-gradient-to-tr	from-blue-200 to-blue-500 mb-20">
        <div class="flex flex-col items-center text-center justify-center lg:text-left px-8 md:px-12 lg:w-2/5">
              <h1 class="mt-50 text-2xl font-semibold text-gray-1000 md:text-4xl ">🐧도움을 주신 분들🐧
              </h1>
              <h1 class="text-2xl font-semibold text-gray-1000 md:text-4xl text-blue-600 ">감사드립니다.</h1>
                <hr class="border-white p-4 m-2" />            
                <h3 class="flex text-3xl font-semibold text-gray-600 ml:text-4xl"> 매니저 황선애</h3>
                <h3 class="text-3xl font-semibold text-gray-600 ml:text-4xl"> 튜터 양봉현 </h3>

            
                <div class="flex flex-row justify-center justify-between">

                <div class="flex flex-col justify-items-center">

                <br />                                  
                <p class="text-md text-gray-500 md:text-2xl">처음부터 벽에 부딪힌 남극의 펭귄들을 위해 항상 도움을 주시려 해 주셔서 감사합니다. 너무나 큰 도움이 되어 현재의 상태까지 올 수 있었습니다. 저희 남극의 펭귄들은 당신의 노고를 잊지않고 계속 정진하는 개발자가 되겠습니다.</p>

                </div>
            </div>
        </div>


        <div class="flex flex-row hidden lg:inline-block w-3/5">
            <div class="bg-no-repeat bg-cover object-fill object-center h-full" style="background-image: url(https://user-images.githubusercontent.com/81601217/145345442-42b9bf0a-654b-48c5-90dc-c8bb9d2ba9ad.jpg)">
            </div>
        </div>
    </div>
</div>
    </div>


    <div class="swiper-pagination"></div>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
var swiper = new Swiper('.swiper-container', {

  direction: 'vertical',
  mousewheelControl: true,
  slidesPerView: 1,
  pagination: {
    el: '.swiper-pagination',
    clickable: true,
  },

freeModeSticky: true
});

    </script>


  <footer class="text-gray-600 body-font bg-gradient-to-b from-transparent to-blue-600">
  <div
    class="
      container
      px-5
      py-24
      mx-auto
      flex
      md:items-center
      lg:items-start
      md:flex-row md:flex-nowrap
      flex-wrap flex-col
    "
  >
    <div
      class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left"
    >
      <a
        href=""
        class="
          flex
          title-font
          font-medium
          items-center
          md:justify-start
          justify-center
          text-gray-900
        "
      >
        
        <span class="ml-3 text-xl">🐧 남극의 펭귄들</span>
      </a>
    </div>
    <div
      class="
        flex-grow flex flex-wrap
        md:pl-20
        -mb-10
        md:mt-0
        mt-10
        md:text-left
        text-center
      "
    >
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          개인회원
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >크리에이터 지원하기</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >대관 문의</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >일일 클래스 개설 문의</a
            >
          </li>

        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          기업회원
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >단체 클래스 개강 문의</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >크리에이터 커넥트 문의</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >대관 문의</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >contact us</a
            >
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          문제가 있나요?
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >방명록</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >건의/신고</a
            >
          </li>

        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          빠른 링크
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Art</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Activity</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Books</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Events</a
            >
          </li>
        </nav>
      </div>
    </div>
  </div>




</footer>



</body>
</html>

</body>
</html>