<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="making" content="we are penguins!">

        <title>제주도 푸른밤</title>
<!-- 파비콘 -->
    <link rel="shortcut icon" href="" type="image/vnd.microsoft.icon">
<link href="../tailwind.css" rel="stylesheet">
<link href="../static/tailwind.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">


    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>


    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="stylesheet" type="text/css" href="../static/move.css">
    <link rel="stylesheet" type="text/css" href="../static/loading.css">  
    <script src="../static/move.js"></script>
    <script src="../static/classlist.js"></script>
    <script src="../static/loading.js"></script>

<!-- 폰트랑 아이콘 -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
          rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          rel="stylesheet"/>
          
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
<!-- 스타일 -->

</head>

<script>

$(document).ready(function () {

$('#classlist').empty();
allList();

 });

</script>
<div id="loading-screen">
    <img src="..\static\poke.gif" class="rotate" loop=infinite/>
</div>
<body class="bg-blue-100 overflow-x-hidden">

<div class="min-h-screen bg-blue-400 bg-gradient-to-br">
  <!-- header -->

<header class="sticky top-0 z-50 bg-blue-500 shadow-sm" x-data="{ open: false }">
    <div class="container mx-auto px-4 py-2 flex items-center">

      <!-- 로고 -->
            <div class="flex cursor-pointer" onclick="home();">

             <img class="object-contain h-10 mr-3" src="..\static\LOGO-001.png" />
      </div>
 <!-- 아이콘 기능 사이트 https://fontawesome.com/v4.7/icons/ -->
                        
 
<div class="flex">
      <button class="bg-blue-600 hover:bg-blue-300 font-bold uppercase px-4 xl:px-6 py-2 xl:py-3 rounded flex-shrink-1 flex items-center" x-on:click="open = ! open">
        <span class="text-xl text-gray-100"><i class="fa fa-arrow-circle-down mr-1" aria-hidden="true"></i> All class</span>
      </button>

       <button class="bg-blue-600 hover:bg-blue-300 font-bold uppercase px-4 xl:px-6 py-2 xl:py-3 rounded flex-shrink-1 flex items-center ml-2">
        <span class="text-xl text-gray-100" onclick="about();"><i class="fa fa-puzzle-piece mr-1" aria-hidden="true"></i>
        about us</span>
      </button>
</div>


    </div>


       <aside x-show="open" 
class="animate__animated animate__fadeInLeft w-full relative z-0 flex-shrink-0 px-0 bg-blue-300 sm:block container mx-auto p-3">
<div class="flex">
<div class="flex flex-col md:flex-row w-66 ml-6 ">

<button id="pics" class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl" onclick="allList();">다 보기</button>
<button id="pics01" class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl" onclick="artList();">Art class</button>
<button id="pics02" class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl" onclick="cookList();">Cook class</button>
</div>
<div class="flex flex-col md:flex-row w-66 ml-4">
<button id="pics03" class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl md:l">Family class</button>
<button id="pics04" class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl">Activity class</button>
<button id="pics05" class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl">seoul</button>
</div>
</div>
          </aside>


  </header>

<div class="py-10 w-10">

</div>

    <section id="detail" class="px-10 w-full md:px-18 lg:px-20">

            <div id="classlist" class="bg-blue-400 justify-evenly grid-cols-3 gap-x-5 gap-y-4 flex flex-wrap place-items-center ">


            <div class="w-full md:w-80 justify-center items-center bg-white shadow-lg rounded-lg flex flex-col mb-3">
                <img src="https://publy.imgix.net/images/2020/06/02/1591081987_gLQJqQ1OiwjT5mHHAiJC5hnnDlIi6ORApk1wh761.jpeg?fm=pjpg"
                     alt="img"
                     title="img" class="transform hover:scale-90 w-full h-60 object-cover rounded-t-lg flex-auto">
                <div class="w-full p-4 justify-start flex flex-col">
                    <div class="pt-2">
                        <i class="far fa-heart cursor-pointer"></i>
                        <span class="italic text-sm text-gray-400 font-medium underline">4시간 클래스</span>
                        <span class="italic text-sm text-gray-400 font-medium underline items-end">category02</span>
                        <span class="italic text-sm text-gray-400 font-medium underline items-end">이름</span>
                    </div>
                    <div class="flex">
                        <div class="rounded-full h-8 w-8 bg-gray-500 flex items-center justify-center overflow-hidden flex-shrink-0">
                            <img src="https://user-images.githubusercontent.com/89088205/144193199-8660b5fc-7246-44b1-a11e-7738e6302e8d.jpg">
                        </div>
                        <span class="truncate mx-20 pt-1 ml-2 font-bold text-center text-sm lg:text-lg xl:text-2xl">김피카 선생님의 꽃꽃이교실</span>
                    </div>
                    <h4 class="truncate border-b-2 text-center text-blue-400">연인과 함께하는 꽃꽂이 추억</h4>
                    <p class="truncate my-4">여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한 여기에
                        상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요여기에 상세내용이 들어갑니다 수선화를
                        고르면 추가점수가
                        있어요</p>
                    <button value="button" class="mx-10 px-4 py-2 text-white hover:bg-blue-700 bg-blue-500">자세히 보기
                    </button>
                </div>
            </div>


            <div class="w-full md:w-80 justify-center items-center bg-white shadow-lg rounded-lg flex flex-col">
                <img src="https://publy.imgix.net/images/2020/06/02/1591081987_gLQJqQ1OiwjT5mHHAiJC5hnnDlIi6ORApk1wh761.jpeg?fm=pjpg"
                     alt="img"
                     title="img" class="transform hover:scale-90 w-full h-60 object-cover rounded-t-lg flex-auto">
                <div class="w-full p-4 justify-start flex flex-col">
                    <div class="pt-2">
                        <i class="far fa-heart cursor-pointer"></i>
                        <span class="italic text-sm text-gray-400 font-medium underline">4시간 클래스</span>
                        <span class="italic text-sm text-gray-400 font-medium underline items-end">category02</span>
                        <span class="italic text-sm text-gray-400 font-medium underline items-end">이름</span>
                    </div>
                    <div class="flex">
                        <div class="rounded-full h-8 w-8 bg-gray-500 flex items-center justify-center overflow-hidden flex-shrink-0">
                            <img src="https://user-images.githubusercontent.com/89088205/144193199-8660b5fc-7246-44b1-a11e-7738e6302e8d.jpg"
                                 alt="profilepic">
                        </div>
                        <span class="truncate mx-20 pt-1 ml-2 font-bold text-center text-sm lg:text-lg xl:text-2xl">김피카 선생님의 꽃꽃이교실</span>
                    </div>
                    <h4 class="truncate border-b-2 text-center text-blue-400">연인과 함께하는 꽃꽂이 추억</h4>
                    <p class="truncate my-4">여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한 여기에
                        상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요여기에 상세내용이 들어갑니다 수선화를
                        고르면 추가점수가
                        있어요</p>
                    <button value="button" class="mx-10 px-4 py-2 text-white hover:bg-blue-700 bg-blue-500">자세히 보기
                    </button>
                </div>
            </div>



        </div>
        <div class="container h-10 bg-bule-100 w-full"> </div>
    </div>
    </section>

  <footer class="text-gray-600 body-font bg-blue-600">
  <div
    class="
      container
      px-5
      py-24
      mx-auto
      flex
      md:items-center
      lg:items-start
      md:flex-row md:flex-nowrap
      flex-wrap flex-col
    "
  >
    <div
      class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left"
    >
      <a
        href=""
        class="
          flex
          title-font
          font-medium
          items-center
          md:justify-start
          justify-center
          text-gray-900
        "
      >
        
        <span class="ml-3 text-xl">🐧 남극의 펭귄들</span>
      </a>
    </div>
    <div
      class="
        flex-grow flex flex-wrap
        md:pl-20
        -mb-10
        md:mt-0
        mt-10
        md:text-left
        text-center
      "
    >
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          개인회원
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >크리에이터 지원하기</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >대관 문의</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >일일 클래스 개설 문의</a
            >
          </li>

        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          기업회원
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >단체 클래스 개강 문의</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >크리에이터 커넥트 문의</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >대관 문의</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >contact us</a
            >
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          문제가 있나요?
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >방명록</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >건의/신고</a
            >
          </li>

        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          빠른 링크
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Art</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Activity</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Books</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Events</a
            >
          </li>
        </nav>
      </div>
    </div>
  </div>




</footer>



</body>
</html>

</body>
</html>