<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="making" content="we are penguins!">

        <title>제주도 푸른밤</title>
<!-- 파비콘 -->
    <link rel="shortcut icon" href="" type="image/vnd.microsoft.icon">
<link href="../tailwind.css" rel="stylesheet">
<link href="../static/tailwind.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">


    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>


    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <script src="../static/move.js"></script>


<!-- 폰트랑 아이콘 -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
          rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          rel="stylesheet"/>

    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
<!-- 스타일 -->

</head>


<body class="bg-blue-100 overflow-x-hidden">

<div class="min-h-screen bg-blue-400 bg-gradient-to-br">
  <!-- header -->

<header class="sticky top-0 z-50 bg-blue-500 shadow-sm" x-data="{ open: false }">
    <div class="container mx-auto px-4 py-2 flex items-center">

      <!-- 로고 -->
            <div class="flex cursor-pointer" onclick="home();">

             <img class="object-contain h-10 mr-3" src="..\static\LOGO-001.png" />
      </div>
 <!-- 아이콘 기능 사이트 https://fontawesome.com/v4.7/icons/ -->
                        

<div class="flex">
      <button class="bg-blue-600 hover:bg-blue-300 font-bold uppercase px-4 xl:px-6 py-2 xl:py-3 rounded flex-shrink-1 flex items-center" x-on:click="open = ! open">
        <span class="text-xl text-gray-100"><i class="fa fa-arrow-circle-down mr-1" aria-hidden="true" ></i> All class</span>
      </button>

       <button class="bg-blue-600 hover:bg-blue-300 font-bold uppercase px-4 xl:px-6 py-2 xl:py-3 rounded flex-shrink-1 flex items-center ml-2" onclick="about();">
        <span class="text-xl text-gray-100"><i class="fa fa-puzzle-piece mr-1" aria-hidden="true"></i>
        about us</span>
      </button>
</div>


    </div>


       <aside x-show="open" 
class="animate__animated animate__fadeInLeft w-full relative z-0 flex-shrink-0 px-0 bg-blue-300 sm:block container mx-auto p-3">
<div class="flex">
<div class="flex flex-col md:flex-row w-66 ml-6 ">

<button class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl">다 보기</button>
<button class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl">Art class</button>
<button class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl">Cook class</button>
</div>
<div class="flex flex-col md:flex-row w-66 ml-4">
<button class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl md:l">Family class</button>
<button class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl">Activity class</button>
<button class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl">seoul</button>
</div>
</div>
          </aside>


  </header>


  <!-- body -->
  <main>

 <section>

<div class="container mx-auto my-5">

    <div class="relative rounded-lg flex flex-col md:flex-row items-center md:shadow-xl md:h-72 mx-2">

        <div class="z-0 order-1 md:order-2 relative w-full md:w-3/5 h-80 md:h-full overflow-hidden rounded-lg md:rounded-none md:rounded-r-lg">

            <div class="absolute inset-0 w-full h-full object-fill object-center bg-blue-400 bg-opacity-30 bg-cover bg-bottom" style="background-image: url( https://post-phinf.pstatic.net/MjAxNzEyMThfMjI5/MDAxNTEzNTk2NDYzOTI2._KSyKGflkB1dcYve4wpo5C-2XkxG2vtJSs3cqhGW7w4g.JOFKoGn-kKB63kohPSAep3IwqO873JAl3h-mZnKKHlkg.JPEG/34.jpg?type=w1200); background-blend-mode: multiply;"></div>
            <div class="md:hidden absolute inset-0 h-full p-6 pb-6 flex flex-col-reverse justify-start items-start bg-gradient-to-b from-transparent via-transparent to-gray-900">

            </div>
            <svg class="hidden md:block absolute inset-y-0 h-full w-24 fill-current text-white -ml-12" viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon points="50,0 100,0 50,100 0,100" />
            </svg>
        </div>
                              <div class="absolute -top-1 right-0 z-10 bg-blue-300 text-xl text-white font-bold px-1 py-2 rounded-sm">best</div>
        <div class="z-10 order-2 md:order-1 w-full h-full md:w-3/5 flex items-center -mt-6 md:mt-0">
            <div class="p-8 md:pr-18 md:pl-14 md:py-12 mx-2 md:mx-0 h-full bg-white rounded-lg md:rounded-none md:rounded-l-lg shadow-xl md:shadow-none">
                <h4 class="hidden md:block text-xl text-gray-400">원데이 클래스</h4>
                <h3 class="hidden md:block font-bold text-2xl text-gray-700">크리스마스 양말 & 캔들</h3>
                <p class="text-gray-600 text-justify">벽난로 옆에 걸어둘 양말... 벽난로가 없다면 캔들은 어떠세요? 이번 겨울, 우리 집에도 산타할아버지가 오실거예요!</p>
                <a class="flex items-baseline mt-3 text-blue-600 hover:text-blue-900 focus:text-blue-900" href="">
                    <span>클릭해서 알아보기</span>
                    <span class="text-xs ml-1">&#x279c;</span>
                </a>
            </div>
        </div>




    </div>
</div>

 </section>

<hr class="border-3 border-white p-10" />
<h1 class="text-2xl md:text-2xl font-medium py-1 m-2 mb-4 my-4 pl-5 bg-blue-600 rounded-md text-white">EVENTS!</h1>

      <!-- cards -->
<section class="bg-blue-400">

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
          <div id="whoobe-3fery"
                         class="transition duration-500 ease-in-out bg-white hover: transform hover:scale-90 w-full md:w-80 justify-center items-center bg-white shadow-lg rounded-lg flex flex-col swiper-slide">
                        <img src="https://publy.imgix.net/images/2020/06/02/1591081987_gLQJqQ1OiwjT5mHHAiJC5hnnDlIi6ORApk1wh761.jpeg?fm=pjpg"
                             alt="img"
                             title="img" class="w-full h-80 object-cover rounded-t-lg" id="whoobe-ixxe5">
                        <div id="whoobe-1okdg" class="w-full p-4 justify-start flex flex-col">
                            <div class="pt-2">
                                <i class="far fa-heart cursor-pointer"></i>
                                <span class="italic text-sm text-gray-400 font-medium underline">1명이 수료했어요!</span>
                            </div>
                            <div class="flex">
                                <div class="rounded-full h-8 w-8 bg-gray-500 flex items-center justify-center overflow-hidden flex-shrink-0">
                                    <img src="https://user-images.githubusercontent.com/89088205/143687229-6dc5725b-cb98-47df-a56c-8eeeb1fe207c.gif"
                                         alt="profilepic">
                                </div>
                                <span class="truncate mx-20 pt-1 ml-2 font-bold text-center text-sm lg:text-lg">김피카 선생님의 꽃꽃이교실</span>
                            </div>
                            <h4 class="truncate border-b-2 text-center text-blue-400" id="whoobe-3mr7n">연인과 함께하는 꽃꽂이 추억</h4>
                            <p class="truncate my-4" id="whoobe-950fw">여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한 여기에
                                상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가
                                있어요</p>
                            <button value="button" class="mx-10 px-4 py-2 text-white hover:bg-blue-700 bg-blue-500"
                                    id="whoobe-jkkr2">자세히 보기
                            </button>
                        </div>
                    </div>
          <div id="whoobe-3fery"
                         class="transition duration-500 ease-in-out bg-white hover: transform hover:scale-90 w-full md:w-80 justify-center items-center bg-white shadow-lg rounded-lg flex flex-col swiper-slide">
                        <img src="https://publy.imgix.net/images/2020/06/02/1591081987_gLQJqQ1OiwjT5mHHAiJC5hnnDlIi6ORApk1wh761.jpeg?fm=pjpg"
                             alt="img"
                             title="img" class="w-full h-80 object-cover rounded-t-lg" id="whoobe-ixxe5">
                        <div id="whoobe-1okdg" class="w-full p-4 justify-start flex flex-col">
                            <div class="pt-2">
                                <i class="far fa-heart cursor-pointer"></i>
                                <span class="italic text-sm text-gray-400 font-medium underline">2명이 수료했어요!</span>
                            </div>
                            <div class="flex">
                                <div class="rounded-full h-8 w-8 bg-gray-500 flex items-center justify-center overflow-hidden flex-shrink-0">
                                    <img src="https://user-images.githubusercontent.com/89088205/143687229-6dc5725b-cb98-47df-a56c-8eeeb1fe207c.gif"
                                         alt="profilepic">
                                </div>
                                <span class="truncate mx-20 pt-1 ml-2 font-bold text-center text-sm lg:text-lg">김피카 선생님의 꽃꽃이교실</span>
                            </div>
                            <h4 class="truncate border-b-2 text-center text-blue-400" id="whoobe-3mr7n">연인과 함께하는 꽃꽂이 추억</h4>
                            <p class="truncate my-4" id="whoobe-950fw">여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한 여기에
                                상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가
                                있어요</p>
                            <button value="button" class="mx-10 px-4 py-2 text-white hover:bg-blue-700 bg-blue-500"
                                    id="whoobe-jkkr2">자세히 보기
                            </button>
                        </div>
                    </div>
          <div id="whoobe-3fery"
                         class="transition duration-500 ease-in-out bg-white hover: transform hover:scale-90 w-full md:w-80 justify-center items-center bg-white shadow-lg rounded-lg flex flex-col swiper-slide">
                        <img src="https://publy.imgix.net/images/2020/06/02/1591081987_gLQJqQ1OiwjT5mHHAiJC5hnnDlIi6ORApk1wh761.jpeg?fm=pjpg"
                             alt="img"
                             title="img" class="w-full h-80 object-cover rounded-t-lg" id="whoobe-ixxe5">
                        <div id="whoobe-1okdg" class="w-full p-4 justify-start flex flex-col">
                            <div class="pt-2">
                                <i class="far fa-heart cursor-pointer"></i>
                                <span class="italic text-sm text-gray-400 font-medium underline">3명이 수료했어요!</span>
                            </div>
                            <div class="flex">
                                <div class="rounded-full h-8 w-8 bg-gray-500 flex items-center justify-center overflow-hidden flex-shrink-0">
                                    <img src="https://user-images.githubusercontent.com/89088205/143687229-6dc5725b-cb98-47df-a56c-8eeeb1fe207c.gif"
                                         alt="profilepic">
                                </div>
                                <span class="truncate mx-20 pt-1 ml-2 font-bold text-center text-sm lg:text-lg">김피카 선생님의 꽃꽃이교실</span>
                            </div>
                            <h4 class="truncate border-b-2 text-center text-blue-400" id="whoobe-3mr7n">연인과 함께하는 꽃꽂이 추억</h4>
                            <p class="truncate my-4" id="whoobe-950fw">여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한 여기에
                                상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가
                                있어요</p>
                            <button value="button" class="mx-10 px-4 py-2 text-white hover:bg-blue-700 bg-blue-500"
                                    id="whoobe-jkkr2">자세히 보기
                            </button>
                        </div>
                    </div>
          <div id="whoobe-3fery"
                         class="transition duration-500 ease-in-out bg-white hover: transform hover:scale-90 w-full md:w-80 justify-center items-center bg-white shadow-lg rounded-lg flex flex-col swiper-slide">
                        <img src="https://publy.imgix.net/images/2020/06/02/1591081987_gLQJqQ1OiwjT5mHHAiJC5hnnDlIi6ORApk1wh761.jpeg?fm=pjpg"
                             alt="img"
                             title="img" class="w-full h-80 object-cover rounded-t-lg" id="whoobe-ixxe5">
                        <div id="whoobe-1okdg" class="w-full p-4 justify-start flex flex-col">
                            <div class="pt-2">
                                <i class="far fa-heart cursor-pointer"></i>
                                <span class="italic text-sm text-gray-400 font-medium underline">4명이 수료했어요!</span>
                            </div>
                            <div class="flex">
                                <div class="rounded-full h-8 w-8 bg-gray-500 flex items-center justify-center overflow-hidden flex-shrink-0">
                                    <img src="https://user-images.githubusercontent.com/89088205/143687229-6dc5725b-cb98-47df-a56c-8eeeb1fe207c.gif"
                                         alt="profilepic">
                                </div>
                                <span class="truncate mx-20 pt-1 ml-2 font-bold text-center text-sm lg:text-lg">김피카 선생님의 꽃꽃이교실</span>
                            </div>
                            <h4 class="truncate border-b-2 text-center text-blue-400" id="whoobe-3mr7n">연인과 함께하는 꽃꽂이 추억</h4>
                            <p class="truncate my-4" id="whoobe-950fw">여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한 여기에
                                상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가
                                있어요</p>
                            <button value="button" class="mx-10 px-4 py-2 text-white hover:bg-blue-700 bg-blue-500"
                                    id="whoobe-jkkr2">자세히 보기
                            </button>
                        </div>
                    </div>
          <div id="whoobe-3fery"
                         class="transition duration-500 ease-in-out bg-white hover: transform hover:scale-90 w-full md:w-80 justify-center items-center bg-white shadow-lg rounded-lg flex flex-col swiper-slide">
                        <img src="https://publy.imgix.net/images/2020/06/02/1591081987_gLQJqQ1OiwjT5mHHAiJC5hnnDlIi6ORApk1wh761.jpeg?fm=pjpg"
                             alt="img"
                             title="img" class="w-full h-80 object-cover rounded-t-lg" id="whoobe-ixxe5">
                        <div id="whoobe-1okdg" class="w-full p-4 justify-start flex flex-col">
                            <div class="pt-2">
                                <i class="far fa-heart cursor-pointer"></i>
                                <span class="italic text-sm text-gray-400 font-medium underline">5명이 수료했어요!</span>
                            </div>
                            <div class="flex">
                                <div class="rounded-full h-8 w-8 bg-gray-500 flex items-center justify-center overflow-hidden flex-shrink-0">
                                    <img src="https://user-images.githubusercontent.com/89088205/143687229-6dc5725b-cb98-47df-a56c-8eeeb1fe207c.gif"
                                         alt="profilepic">
                                </div>
                                <span class="truncate mx-20 pt-1 ml-2 font-bold text-center text-sm lg:text-lg">김피카 선생님의 꽃꽃이교실</span>
                            </div>
                            <h4 class="truncate border-b-2 text-center text-blue-400" id="whoobe-3mr7n">연인과 함께하는 꽃꽂이 추억</h4>
                            <p class="truncate my-4" id="whoobe-950fw">여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한 여기에
                                상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가
                                있어요</p>
                            <button value="button" class="mx-10 px-4 py-2 text-white hover:bg-blue-700 bg-blue-500"
                                    id="whoobe-jkkr2">자세히 보기
                            </button>
                        </div>
                    </div>
          <div id="whoobe-3fery"
                         class="transition duration-500 ease-in-out bg-white hover: transform hover:scale-90 w-full md:w-80 justify-center items-center bg-white shadow-lg rounded-lg flex flex-col swiper-slide">
                        <img src="https://publy.imgix.net/images/2020/06/02/1591081987_gLQJqQ1OiwjT5mHHAiJC5hnnDlIi6ORApk1wh761.jpeg?fm=pjpg"
                             alt="img"
                             title="img" class="w-full h-80 object-cover rounded-t-lg" id="whoobe-ixxe5">
                        <div id="whoobe-1okdg" class="w-full p-4 justify-start flex flex-col">
                            <div class="pt-2">
                                <i class="far fa-heart cursor-pointer"></i>
                                <span class="italic text-sm text-gray-400 font-medium underline">6명이 수료했어요!</span>
                            </div>
                            <div class="flex">
                                <div class="rounded-full h-8 w-8 bg-gray-500 flex items-center justify-center overflow-hidden flex-shrink-0">
                                    <img src="https://user-images.githubusercontent.com/89088205/143687229-6dc5725b-cb98-47df-a56c-8eeeb1fe207c.gif"
                                         alt="profilepic">
                                </div>
                                <span class="truncate mx-20 pt-1 ml-2 font-bold text-center text-sm lg:text-lg">김피카 선생님의 꽃꽃이교실</span>
                            </div>
                            <h4 class="truncate border-b-2 text-center text-blue-400" id="whoobe-3mr7n">연인과 함께하는 꽃꽂이 추억</h4>
                            <p class="truncate my-4" id="whoobe-950fw">여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한 여기에
                                상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가
                                있어요</p>
                            <button value="button" class="mx-10 px-4 py-2 text-white hover:bg-blue-700 bg-blue-500"
                                    id="whoobe-jkkr2">자세히 보기
                            </button>
                        </div>
                    </div>
          <div id="whoobe-3fery"
                         class="transition duration-500 ease-in-out bg-white hover: transform hover:scale-90 w-full md:w-80 justify-center items-center bg-white shadow-lg rounded-lg flex flex-col swiper-slide">
                        <img src="https://publy.imgix.net/images/2020/06/02/1591081987_gLQJqQ1OiwjT5mHHAiJC5hnnDlIi6ORApk1wh761.jpeg?fm=pjpg"
                             alt="img"
                             title="img" class="w-full h-80 object-cover rounded-t-lg" id="whoobe-ixxe5">
                        <div id="whoobe-1okdg" class="w-full p-4 justify-start flex flex-col">
                            <div class="pt-2">
                                <i class="far fa-heart cursor-pointer"></i>
                                <span class="italic text-sm text-gray-400 font-medium underline">7명이 수료했어요!</span>
                            </div>
                            <div class="flex">
                                <div class="rounded-full h-8 w-8 bg-gray-500 flex items-center justify-center overflow-hidden flex-shrink-0">
                                    <img src="https://user-images.githubusercontent.com/89088205/143687229-6dc5725b-cb98-47df-a56c-8eeeb1fe207c.gif"
                                         alt="profilepic">
                                </div>
                                <span class="truncate mx-20 pt-1 ml-2 font-bold text-center text-sm lg:text-lg">김피카 선생님의 꽃꽃이교실</span>
                            </div>
                            <h4 class="truncate border-b-2 text-center text-blue-400" id="whoobe-3mr7n">연인과 함께하는 꽃꽂이 추억</h4>
                            <p class="truncate my-4" id="whoobe-950fw">여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한 여기에
                                상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가
                                있어요</p>
                            <button value="button" class="mx-10 px-4 py-2 text-white hover:bg-blue-700 bg-blue-500"
                                    id="whoobe-jkkr2">자세히 보기
                            </button>
                        </div>
                    </div>
          <div id="whoobe-3fery"
                         class="transition duration-500 ease-in-out bg-white hover: transform hover:scale-90 w-full md:w-80 justify-center items-center bg-white shadow-lg rounded-lg flex flex-col swiper-slide">
                        <img src="https://publy.imgix.net/images/2020/06/02/1591081987_gLQJqQ1OiwjT5mHHAiJC5hnnDlIi6ORApk1wh761.jpeg?fm=pjpg"
                             alt="img"
                             title="img" class="w-full h-80 object-cover rounded-t-lg" id="whoobe-ixxe5">
                        <div id="whoobe-1okdg" class="w-full p-4 justify-start flex flex-col">
                            <div class="pt-2">
                                <i class="far fa-heart cursor-pointer"></i>
                                <span class="italic text-sm text-gray-400 font-medium underline">8명이 수료했어요!</span>
                            </div>
                            <div class="flex">
                                <div class="rounded-full h-8 w-8 bg-gray-500 flex items-center justify-center overflow-hidden flex-shrink-0">
                                    <img src="https://user-images.githubusercontent.com/89088205/143687229-6dc5725b-cb98-47df-a56c-8eeeb1fe207c.gif"
                                         alt="profilepic">
                                </div>
                                <span class="truncate mx-20 pt-1 ml-2 font-bold text-center text-sm lg:text-lg">김피카 선생님의 꽃꽃이교실</span>
                            </div>
                            <h4 class="truncate border-b-2 text-center text-blue-400" id="whoobe-3mr7n">연인과 함께하는 꽃꽂이 추억</h4>
                            <p class="truncate my-4" id="whoobe-950fw">여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한 여기에
                                상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가
                                있어요</p>
                            <button value="button" class="mx-10 px-4 py-2 text-white hover:bg-blue-700 bg-blue-500"
                                    id="whoobe-jkkr2">자세히 보기
                            </button>
                        </div>
                    </div>
      </div>
    </div>


    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
      const swiper = new Swiper('.mySwiper', {
        spaceBetween: 0,
        loop: true,
        slidesPerView: 8,
        centeredSlides: true,
        autoplay: {
        //reverseDirection:true,
          delay: 3000,
          disableOnInteraction: false,
        },

          breakpoints: {
    // when window width is >= 320px
    320: {
      slidesPerView: 3,
      spaceBetween: 0,
      CenteredSlidesBounds:true

    },
    // when window width is >= 480px
    480: {
      slidesPerView: 5,
      spaceBetween: 0,
            CenteredSlidesBounds:true
    },
    // when window width is >= 640px
    640: {
      slidesPerView: 6,
      spaceBetween: 0
    },

  }

      });
    </script>




</section>

<h1 class="text-2xl md:text-2xl font-medium py-1 m-2 mb-4 my-4 pl-5 bg-blue-600 rounded-md text-white">EVENTS!</h1>

      <!-- cards -->
<section class="bg-blue-400">

    <div class="swiper mySwiper2">
      <div class="swiper-wrapper">
           <div id="whoobe-3fery"
                         class="transition duration-500 ease-in-out bg-white hover: transform hover:scale-90 w-full md:w-80 justify-center items-center bg-white shadow-lg rounded-lg flex flex-col swiper-slide">
                        <img src="https://publy.imgix.net/images/2020/06/02/1591081987_gLQJqQ1OiwjT5mHHAiJC5hnnDlIi6ORApk1wh761.jpeg?fm=pjpg"
                             alt="img"
                             title="img" class="w-full h-80 object-cover rounded-t-lg" id="whoobe-ixxe5">
                        <div id="whoobe-1okdg" class="w-full p-4 justify-start flex flex-col">
                            <div class="pt-2">
                                <i class="far fa-heart cursor-pointer"></i>
                                <span class="italic text-sm text-gray-400 font-medium underline">1명이 수료했어요!</span>
                            </div>
                            <div class="flex">
                                <div class="rounded-full h-8 w-8 bg-gray-500 flex items-center justify-center overflow-hidden flex-shrink-0">
                                    <img src="https://user-images.githubusercontent.com/89088205/143687229-6dc5725b-cb98-47df-a56c-8eeeb1fe207c.gif"
                                         alt="profilepic">
                                </div>
                                <span class="truncate mx-20 pt-1 ml-2 font-bold text-center text-sm lg:text-lg">김피카 선생님의 꽃꽃이교실</span>
                            </div>
                            <h4 class="truncate border-b-2 text-center text-blue-400" id="whoobe-3mr7n">연인과 함께하는 꽃꽂이 추억</h4>
                            <p class="truncate my-4" id="whoobe-950fw">여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한 여기에
                                상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가
                                있어요</p>
                            <button value="button" class="mx-10 px-4 py-2 text-white hover:bg-blue-700 bg-blue-500"
                                    id="whoobe-jkkr2">자세히 보기
                            </button>
                        </div>
                    </div>
          <div id="whoobe-3fery"
                         class="transition duration-500 ease-in-out bg-white hover: transform hover:scale-90 w-full md:w-80 justify-center items-center bg-white shadow-lg rounded-lg flex flex-col swiper-slide">
                        <img src="https://publy.imgix.net/images/2020/06/02/1591081987_gLQJqQ1OiwjT5mHHAiJC5hnnDlIi6ORApk1wh761.jpeg?fm=pjpg"
                             alt="img"
                             title="img" class="w-full h-80 object-cover rounded-t-lg" id="whoobe-ixxe5">
                        <div id="whoobe-1okdg" class="w-full p-4 justify-start flex flex-col">
                            <div class="pt-2">
                                <i class="far fa-heart cursor-pointer"></i>
                                <span class="italic text-sm text-gray-400 font-medium underline">2명이 수료했어요!</span>
                            </div>
                            <div class="flex">
                                <div class="rounded-full h-8 w-8 bg-gray-500 flex items-center justify-center overflow-hidden flex-shrink-0">
                                    <img src="https://user-images.githubusercontent.com/89088205/143687229-6dc5725b-cb98-47df-a56c-8eeeb1fe207c.gif"
                                         alt="profilepic">
                                </div>
                                <span class="truncate mx-20 pt-1 ml-2 font-bold text-center text-sm lg:text-lg">김피카 선생님의 꽃꽃이교실</span>
                            </div>
                            <h4 class="truncate border-b-2 text-center text-blue-400" id="whoobe-3mr7n">연인과 함께하는 꽃꽂이 추억</h4>
                            <p class="truncate my-4" id="whoobe-950fw">여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한 여기에
                                상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가
                                있어요</p>
                            <button value="button" class="mx-10 px-4 py-2 text-white hover:bg-blue-700 bg-blue-500"
                                    id="whoobe-jkkr2">자세히 보기
                            </button>
                        </div>
                    </div>
          <div id="whoobe-3fery"
                         class="transition duration-500 ease-in-out bg-white hover: transform hover:scale-90 w-full md:w-80 justify-center items-center bg-white shadow-lg rounded-lg flex flex-col swiper-slide">
                        <img src="https://publy.imgix.net/images/2020/06/02/1591081987_gLQJqQ1OiwjT5mHHAiJC5hnnDlIi6ORApk1wh761.jpeg?fm=pjpg"
                             alt="img"
                             title="img" class="w-full h-80 object-cover rounded-t-lg" id="whoobe-ixxe5">
                        <div id="whoobe-1okdg" class="w-full p-4 justify-start flex flex-col">
                            <div class="pt-2">
                                <i class="far fa-heart cursor-pointer"></i>
                                <span class="italic text-sm text-gray-400 font-medium underline">3명이 수료했어요!</span>
                            </div>
                            <div class="flex">
                                <div class="rounded-full h-8 w-8 bg-gray-500 flex items-center justify-center overflow-hidden flex-shrink-0">
                                    <img src="https://user-images.githubusercontent.com/89088205/143687229-6dc5725b-cb98-47df-a56c-8eeeb1fe207c.gif"
                                         alt="profilepic">
                                </div>
                                <span class="truncate mx-20 pt-1 ml-2 font-bold text-center text-sm lg:text-lg">김피카 선생님의 꽃꽃이교실</span>
                            </div>
                            <h4 class="truncate border-b-2 text-center text-blue-400" id="whoobe-3mr7n">연인과 함께하는 꽃꽂이 추억</h4>
                            <p class="truncate my-4" id="whoobe-950fw">여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한 여기에
                                상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가
                                있어요</p>
                            <button value="button" class="mx-10 px-4 py-2 text-white hover:bg-blue-700 bg-blue-500"
                                    id="whoobe-jkkr2">자세히 보기
                            </button>
                        </div>
                    </div>
          <div id="whoobe-3fery"
                         class="transition duration-500 ease-in-out bg-white hover: transform hover:scale-90 w-full md:w-80 justify-center items-center bg-white shadow-lg rounded-lg flex flex-col swiper-slide">
                        <img src="https://publy.imgix.net/images/2020/06/02/1591081987_gLQJqQ1OiwjT5mHHAiJC5hnnDlIi6ORApk1wh761.jpeg?fm=pjpg"
                             alt="img"
                             title="img" class="w-full h-80 object-cover rounded-t-lg" id="whoobe-ixxe5">
                        <div id="whoobe-1okdg" class="w-full p-4 justify-start flex flex-col">
                            <div class="pt-2">
                                <i class="far fa-heart cursor-pointer"></i>
                                <span class="italic text-sm text-gray-400 font-medium underline">4명이 수료했어요!</span>
                            </div>
                            <div class="flex">
                                <div class="rounded-full h-8 w-8 bg-gray-500 flex items-center justify-center overflow-hidden flex-shrink-0">
                                    <img src="https://user-images.githubusercontent.com/89088205/143687229-6dc5725b-cb98-47df-a56c-8eeeb1fe207c.gif"
                                         alt="profilepic">
                                </div>
                                <span class="truncate mx-20 pt-1 ml-2 font-bold text-center text-sm lg:text-lg">김피카 선생님의 꽃꽃이교실</span>
                            </div>
                            <h4 class="truncate border-b-2 text-center text-blue-400" id="whoobe-3mr7n">연인과 함께하는 꽃꽂이 추억</h4>
                            <p class="truncate my-4" id="whoobe-950fw">여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한 여기에
                                상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가
                                있어요</p>
                            <button value="button" class="mx-10 px-4 py-2 text-white hover:bg-blue-700 bg-blue-500"
                                    id="whoobe-jkkr2">자세히 보기
                            </button>
                        </div>
                    </div>
          <div id="whoobe-3fery"
                         class="transition duration-500 ease-in-out bg-white hover: transform hover:scale-90 w-full md:w-80 justify-center items-center bg-white shadow-lg rounded-lg flex flex-col swiper-slide">
                        <img src="https://publy.imgix.net/images/2020/06/02/1591081987_gLQJqQ1OiwjT5mHHAiJC5hnnDlIi6ORApk1wh761.jpeg?fm=pjpg"
                             alt="img"
                             title="img" class="w-full h-80 object-cover rounded-t-lg" id="whoobe-ixxe5">
                        <div id="whoobe-1okdg" class="w-full p-4 justify-start flex flex-col">
                            <div class="pt-2">
                                <i class="far fa-heart cursor-pointer"></i>
                                <span class="italic text-sm text-gray-400 font-medium underline">5명이 수료했어요!</span>
                            </div>
                            <div class="flex">
                                <div class="rounded-full h-8 w-8 bg-gray-500 flex items-center justify-center overflow-hidden flex-shrink-0">
                                    <img src="https://user-images.githubusercontent.com/89088205/143687229-6dc5725b-cb98-47df-a56c-8eeeb1fe207c.gif"
                                         alt="profilepic">
                                </div>
                                <span class="truncate mx-20 pt-1 ml-2 font-bold text-center text-sm lg:text-lg">김피카 선생님의 꽃꽃이교실</span>
                            </div>
                            <h4 class="truncate border-b-2 text-center text-blue-400" id="whoobe-3mr7n">연인과 함께하는 꽃꽂이 추억</h4>
                            <p class="truncate my-4" id="whoobe-950fw">여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한 여기에
                                상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가
                                있어요</p>
                            <button value="button" class="mx-10 px-4 py-2 text-white hover:bg-blue-700 bg-blue-500"
                                    id="whoobe-jkkr2">자세히 보기
                            </button>
                        </div>
                    </div>
          <div id="whoobe-3fery"
                         class="transition duration-500 ease-in-out bg-white hover: transform hover:scale-90 w-full md:w-80 justify-center items-center bg-white shadow-lg rounded-lg flex flex-col swiper-slide">
                        <img src="https://publy.imgix.net/images/2020/06/02/1591081987_gLQJqQ1OiwjT5mHHAiJC5hnnDlIi6ORApk1wh761.jpeg?fm=pjpg"
                             alt="img"
                             title="img" class="w-full h-80 object-cover rounded-t-lg" id="whoobe-ixxe5">
                        <div id="whoobe-1okdg" class="w-full p-4 justify-start flex flex-col">
                            <div class="pt-2">
                                <i class="far fa-heart cursor-pointer"></i>
                                <span class="italic text-sm text-gray-400 font-medium underline">6명이 수료했어요!</span>
                            </div>
                            <div class="flex">
                                <div class="rounded-full h-8 w-8 bg-gray-500 flex items-center justify-center overflow-hidden flex-shrink-0">
                                    <img src="https://user-images.githubusercontent.com/89088205/143687229-6dc5725b-cb98-47df-a56c-8eeeb1fe207c.gif"
                                         alt="profilepic">
                                </div>
                                <span class="truncate mx-20 pt-1 ml-2 font-bold text-center text-sm lg:text-lg">김피카 선생님의 꽃꽃이교실</span>
                            </div>
                            <h4 class="truncate border-b-2 text-center text-blue-400" id="whoobe-3mr7n">연인과 함께하는 꽃꽂이 추억</h4>
                            <p class="truncate my-4" id="whoobe-950fw">여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한 여기에
                                상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가
                                있어요</p>
                            <button value="button" class="mx-10 px-4 py-2 text-white hover:bg-blue-700 bg-blue-500"
                                    id="whoobe-jkkr2">자세히 보기
                            </button>
                        </div>
                    </div>
          <div id="whoobe-3fery"
                         class="transition duration-500 ease-in-out bg-white hover: transform hover:scale-90 w-full md:w-80 justify-center items-center bg-white shadow-lg rounded-lg flex flex-col swiper-slide">
                        <img src="https://publy.imgix.net/images/2020/06/02/1591081987_gLQJqQ1OiwjT5mHHAiJC5hnnDlIi6ORApk1wh761.jpeg?fm=pjpg"
                             alt="img"
                             title="img" class="w-full h-80 object-cover rounded-t-lg" id="whoobe-ixxe5">
                        <div id="whoobe-1okdg" class="w-full p-4 justify-start flex flex-col">
                            <div class="pt-2">
                                <i class="far fa-heart cursor-pointer"></i>
                                <span class="italic text-sm text-gray-400 font-medium underline">7명이 수료했어요!</span>
                            </div>
                            <div class="flex">
                                <div class="rounded-full h-8 w-8 bg-gray-500 flex items-center justify-center overflow-hidden flex-shrink-0">
                                    <img src="https://user-images.githubusercontent.com/89088205/143687229-6dc5725b-cb98-47df-a56c-8eeeb1fe207c.gif"
                                         alt="profilepic">
                                </div>
                                <span class="truncate mx-20 pt-1 ml-2 font-bold text-center text-sm lg:text-lg">김피카 선생님의 꽃꽃이교실</span>
                            </div>
                            <h4 class="truncate border-b-2 text-center text-blue-400" id="whoobe-3mr7n">연인과 함께하는 꽃꽂이 추억</h4>
                            <p class="truncate my-4" id="whoobe-950fw">여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한 여기에
                                상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가
                                있어요</p>
                            <button value="button" class="mx-10 px-4 py-2 text-white hover:bg-blue-700 bg-blue-500"
                                    id="whoobe-jkkr2">자세히 보기
                            </button>
                        </div>
                    </div>
          <div id="whoobe-3fery"
                         class="transition duration-500 ease-in-out bg-white hover: transform hover:scale-90 w-full md:w-80 justify-center items-center bg-white shadow-lg rounded-lg flex flex-col swiper-slide">
                        <img src="https://publy.imgix.net/images/2020/06/02/1591081987_gLQJqQ1OiwjT5mHHAiJC5hnnDlIi6ORApk1wh761.jpeg?fm=pjpg"
                             alt="img"
                             title="img" class="w-full h-80 object-cover rounded-t-lg" id="whoobe-ixxe5">
                        <div id="whoobe-1okdg" class="w-full p-4 justify-start flex flex-col">
                            <div class="pt-2">
                                <i class="far fa-heart cursor-pointer"></i>
                                <span class="italic text-sm text-gray-400 font-medium underline">8명이 수료했어요!</span>
                            </div>
                            <div class="flex">
                                <div class="rounded-full h-8 w-8 bg-gray-500 flex items-center justify-center overflow-hidden flex-shrink-0">
                                    <img src="https://user-images.githubusercontent.com/89088205/143687229-6dc5725b-cb98-47df-a56c-8eeeb1fe207c.gif"
                                         alt="profilepic">
                                </div>
                                <span class="truncate mx-20 pt-1 ml-2 font-bold text-center text-sm lg:text-lg">김피카 선생님의 꽃꽃이교실</span>
                            </div>
                            <h4 class="truncate border-b-2 text-center text-blue-400" id="whoobe-3mr7n">연인과 함께하는 꽃꽂이 추억</h4>
                            <p class="truncate my-4" id="whoobe-950fw">여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한 여기에
                                상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요! 매일매일 신선한여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가 있어요여기에 상세내용이 들어갑니다 수선화를 고르면 추가점수가
                                있어요</p>
                            <button value="button" class="mx-10 px-4 py-2 text-white hover:bg-blue-700 bg-blue-500"
                                    id="whoobe-jkkr2">자세히 보기
                            </button>
                        </div>
                    </div>
       </div>
    </div>


    <!-- Swiper JS -->
    <script>

      const swiper2 = new Swiper('.mySwiper2', {
        spaceBetween: 0,
        loop: true,
        slidesPerView: 8,
        centeredSlides: true,
        autoplay: {
        reverseDirection:true,
          delay: 3000,
          disableOnInteraction: false,
        },

          breakpoints: {
    // when window width is >= 320px
    320: {
      slidesPerView: 3,
      spaceBetween: 0,
      CenteredSlidesBounds:true

    },
    // when window width is >= 480px
    480: {
      slidesPerView: 5,
      spaceBetween: 0,
            CenteredSlidesBounds:true
    },
    // when window width is >= 640px
    640: {
      slidesPerView: 6,
      spaceBetween: 0
    },

  }

      });



    </script>






</section>

    <!-- footer -->
<footer class="text-gray-600 body-font bg-gradient-to-b from-transparent to-blue-600">
  <div
    class="
      container
      px-5
      py-24
      mx-auto
      flex
      md:items-center
      lg:items-start
      md:flex-row md:flex-nowrap
      flex-wrap flex-col
    "
  >
    <div
      class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left"
    >
      <a
        href=""
        class="
          flex
          title-font
          font-medium
          items-center
          md:justify-start
          justify-center
          text-gray-900
        "
      >

        <span class="ml-3 text-xl">🐧 남극의 펭귄들</span>
      </a>
      <p class="mt-2 text-sm text-blue-200">
        심화2조랑 4조인게 뭔가 부르기가 애매해서
        <br>그냥 펭귄들이라고 했어여! 나중에 회의로 조이름도 정합시다!
      </p>
    </div>
    <div
      class="
        flex-grow flex flex-wrap
        md:pl-20
        -mb-10
        md:mt-0
        mt-10
        md:text-left
        text-center
      "
    >
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          개인회원
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >크리에이터 지원하기</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >대관 문의</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >일일 클래스 개설 문의</a
            >
          </li>

        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          기업회원
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >단체 클래스 개강 문의</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >크리에이터 커넥트 문의</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >대관 문의</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >contact us</a
            >
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          문제가 있나요?
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >방명록</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >건의/신고</a
            >
          </li>

        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          빠른 링크
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Art</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Activity</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Books</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Events</a
            >
          </li>
        </nav>
      </div>
    </div>
  </div>




</footer>

  </main>
</div>
</body>
</html>