<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="we are penguins!"/>
    <meta property="og:description" content="취미를 가져보세요!"/>
    <meta property="og:image" content=""/>

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://example.com/page.html">
    <meta property="og:title" content="jajz 원데이 클래스">
    <meta property="og:image" content="http://image.kmib.co.kr/online_image/2020/0112/202001122059_11150924117531_2.jpg">
    <meta property="og:description" content="취미를 가져보아요, 배우고 싶었던 클래스를 단시간에, 다양한 클래스가 있답니다">
    <meta property="og:site_name" content="원데이클래스 <main>">
    <meta property="og:locale" content="en_US">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="shortcut icon" href="../static/favi.png">

        <title>재즈 : 클래스를 소개합니다!</title>
<!-- 파비콘 -->
<link href="../tailwind.css" rel="stylesheet">
<link href="../static/tailwind.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">


    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>


    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="stylesheet" type="text/css" href="../static/move.css">
    <link rel="stylesheet" type="text/css" href="../static/loading.css">    

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../static/move.js"></script>
    <script src="../static/swipe.js"></script>
    <script src="../static/ajax.js"></script>
    <script src="../static/loading.js"></script>

<!-- 폰트랑 아이콘 -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
          rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          rel="stylesheet"/>

    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
<!-- 스타일 -->

</head>
<style>

.flips:hover {
  z-index:50;   
	-webkit-animation: shadow-drop-2-lr 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-lr 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
}







@-webkit-keyframes shadow-drop-2-lr {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35), 12px 0 20px -12px rgba(0, 0, 0, 0.35);
            box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35), 12px 0 20px -12px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-lr {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35), 12px 0 20px -12px rgba(0, 0, 0, 0.35);
            box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35), 12px 0 20px -12px rgba(0, 0, 0, 0.35);
  }
}


</style>
<script>

$(document).ready(function () {

slide1();
slide2();
artList();
cookList();

$(".btn").on("click",function(){
let id = $(this).attr('id'); 
console.log(id);

$.ajax({
    type: "GET",
    url: "/detail/show",
    data: {id},
    async:false,
    success: function(response){
//       console.log(response)
       window.location.href = '/detail?id=' + id;
    }
  });

});

 });

 
</script>
<div id="loading-screen">
    <img src="..\static\poke.gif" class="rotate" loop=infinite/>
</div>
<body class="bg-blue-100 overflow-x-hidden">

<div class="min-h-screen bg-blue-400 bg-gradient-to-br">
  <!-- header -->

<header class="sticky top-0 z-50 bg-blue-500 shadow-sm" x-data="{ open: false }">
    <div class="container mx-auto px-4 py-2 flex items-center">

      <!-- 로고 -->
            <div class="flex cursor-pointer" onclick="home();">

             <img id="logo" class="object-contain h-10 mr-3" src="..\static\LOGO-001.png" />
      </div>
 <!-- 아이콘 기능 사이트 https://fontawesome.com/v4.7/icons/ -->
                        

<div class="flex">
      <button class="bg-blue-600 hover:bg-blue-300 font-bold uppercase px-4 xl:px-6 py-2 xl:py-3 rounded flex-shrink-1 flex items-center" x-on:click="open = ! open">
        <span class="text-xl text-gray-100"><i class="fa fa-arrow-circle-down mr-1" aria-hidden="true"></i> All class</span>
      </button>

       <button class="bg-blue-600 hover:bg-blue-300 font-bold uppercase px-4 xl:px-6 py-2 xl:py-3 rounded flex-shrink-1 flex items-center ml-2">
        <span class="text-xl text-gray-100" onclick="about();"><i class="fa fa-puzzle-piece mr-1" aria-hidden="true"></i>
        about us</span>
      </button>
</div>


    </div>


       <aside x-show="open" 
class="animate__animated animate__fadeInLeft w-full relative z-0 flex-shrink-0 px-0 bg-blue-300 sm:block container mx-auto p-3">
<div class="flex">
<div class="flex flex-col md:flex-row w-66 ml-6 ">

<button id="pics" class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl" onclick="classlist();">다 보기</button>
<button id="pics01" class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl" onclick="classlist();">Art class</button>
<button id="pics02" class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl" onclick="classlist();">Cook class</button>
</div>
<div class="flex flex-col md:flex-row w-66 ml-4">
<button id="pics03" class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl md:l">Family class</button>
<button id="pics04" class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl">Activity class</button>
<button id="pics05" class="bg-blue-400 text-white mr-5 mb-2 p-1 px-2 rounded-md border-4 border-blue-50 border-dashed shadow-inner font-extrabold md:text-xl">seoul</button>
</div>
</div>
          </aside>


  </header>


  <!-- body -->
  <main>


<div class="container mx-auto my-5 ">

    <div class="relative rounded-lg flex flex-col md:flex-row items-center md:shadow-xl md:h-72 mx-2">

        <div class="z-0 order-1 md:order-2 relative w-full md:w-3/5 h-80 md:h-full overflow-hidden rounded-lg md:rounded-none md:rounded-r-lg">

            <div class="absolute inset-0 w-full h-full object-fill object-center bg-blue-400 bg-opacity-30 bg-cover bg-bottom" style="background-image: url(https://user-images.githubusercontent.com/89088205/145358836-7a1d0e72-f31f-43d4-aa0c-50b59664728f.jpg); background-blend-mode: multiply;"></div>
            <div class="md:hidden absolute inset-0 h-full p-6 pb-6 flex flex-col-reverse justify-start items-start bg-gradient-to-b from-transparent via-transparent to-gray-900">

            </div>
            <svg class="hidden md:block absolute inset-y-0 h-full w-24 fill-current text-white -ml-12" viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon points="50,0 100,0 50,100 0,100" />
            </svg>
        </div>
                              <div class="absolute -top-1 right-0 z-10 bg-blue-300 text-xl text-white font-bold px-1 py-2 rounded-sm">best</div>
        <div class="z-10 order-2 md:order-1 w-full h-full md:w-3/5 flex items-center -mt-6 md:mt-0">
            <div class="p-8 md:pr-18 md:pl-14 md:py-12 mx-2 md:mx-0 h-full bg-white rounded-lg md:rounded-none md:rounded-l-lg shadow-xl md:shadow-none">
                <h4 class="hidden md:block text-xl text-gray-400">원데이 클래스</h4>
                <h3 class="hidden md:block font-bold text-2xl text-gray-700">크리스마스 양말 & 캔들</h3>
                <p class="text-gray-600 text-justify">벽난로 옆에 걸어둘 양말... 벽난로가 없다면 캔들은 어떠세요? 이번 겨울, 우리 집에도 산타할아버지가 오실거예요!</p>
                <button id="51" class="flex items-baseline mt-3 text-blue-600 hover:text-blue-900 focus:text-blue-900 cursor-pointer btn">
                    <span>클릭해서 알아보기</span>
                    <span class="text-xs ml-1">&#x279c;</span>
                </button>
            </div>
        </div>




    </div>
</div>

 </section>

<h1 id="textMove" class="text-2xl md:text-2xl font-medium py-1 m-2 mb-4 my-4 pl-5 bg-blue-600 rounded-md text-white">당신의 재능을 찾아보세요!</h1>

<hr class="m-2 border-8 border-white border-dashed">
      <!-- cards -->
<section class="bg-blue-400">
    <div class="swiper mySwiper">
      <div id="artslide" class="swiper-wrapper">

<div class="bg-blue-50 flex flex-row flex-initial swiper-slide w-full md:w-60 box-content max-h-50 rounded-lg justify-center min-h-60 max-h-60 overflow-hidden">
      <div class="bg-white hover:bg-blue-200 justify-center items-center shadow-lg rounded-lg flex flex-col flips">
                        <img src=""
                             alt="img" class="flex rounded-t-lg swiper-lazy object-fill relative flex-grow">                              
              <div class="swiper-lazy-preloader"></div>
                    <button value="button" id="29" class="object-center z-10 absolute btn transform hover:scale-110 animate-pulse bg-transparent mx-15 px-4 py-2 text-white hover:bg-blue-600 rounded-md text-2xl">외국인 친구에게 영어로 내가 만든 요리를 소개
                    </button>
                    </div>
                    </div>

      </div>
    </div>


</section>

<hr class="m-2 border-8 border-white border-dashed">
      <!-- cards -->
<section class="bg-blue-400">
    <div class="swiper mySwiper2">
      <div id="cookslide" class="swiper-wrapper">

<div class="bg-blue-50 flex flex-row flex-initial swiper-slide w-full md:w-60 box-content max-h-50 rounded-lg justify-center min-h-60 max-h-60 overflow-hidden">
      <div class="bg-white hover:bg-blue-200 justify-center items-center shadow-lg rounded-lg flex flex-col flips">
                        <img src="https://user-images.githubusercontent.com/81601217/145338716-38f70002-1a89-4e0e-abad-9f6107e32fc8.jpg"
                             alt="img" class="flex rounded-t-lg swiper-lazy object-fill relative flex-grow">                              
              <div class="swiper-lazy-preloader"></div>
                    <button value="button" id="31" class="object-center z-10 absolute btn transform hover:scale-110 animate-pulse bg-transparent mx-15 px-4 py-2 text-white hover:bg-blue-600 rounded-md text-2xl">당신을 위한 특별한 Fragrance
                    </button>
                    </div>
                    </div>

      </div>
    </div>
<hr class="m-2 border-8 border-white border-dashed">


</section>



    <!-- footer -->
<footer class="text-gray-600 body-font bg-gradient-to-b from-transparent to-blue-600">
  <div
    class="
      container
      px-5
      py-24
      mx-auto
      flex
      md:items-center
      lg:items-start
      md:flex-row md:flex-nowrap
      flex-wrap flex-col
    "
  >
    <div
      class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left"
    >
      <a
        href=""
        class="
          flex
          title-font
          font-medium
          items-center
          md:justify-start
          justify-center
          text-gray-900
        "
      >

        <span class="ml-3 text-xl">🐧 남극의 펭귄들</span>
      </a>
    </div>
    <div
      class="
        flex-grow flex flex-wrap
        md:pl-20
        -mb-10
        md:mt-0
        mt-10
        md:text-left
        text-center
      "
    >
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          개인회원
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >크리에이터 지원하기</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >대관 문의</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >일일 클래스 개설 문의</a
            >
          </li>

        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          기업회원
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >단체 클래스 개강 문의</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >크리에이터 커넥트 문의</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >대관 문의</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >contact us</a
            >
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          문제가 있나요?
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >방명록</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >건의/신고</a
            >
          </li>

        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="
            title-font
            font-medium
            text-gray-900
            tracking-widest
            text-sm
            mb-3
          "
        >
          빠른 링크
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Art</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Activity</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Books</a
            >
          </li>
          <li>
            <a href="" class="text-gray-600 hover:text-gray-800"
              >Events</a
            >
          </li>
        </nav>
      </div>
    </div>
  </div>




</footer>

  </main>
</div>
</body>
</html>